[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
python-dotenv = "*"
slackclient = "*"
flask = "*"

[dev-packages]
pytest = "*"
mockito = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
