[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
botocore = "==1.12.55"
chalice = "==1.6.1"
docutils = "==0.14"
jmespath = "==0.9.3"
python-dateutil = "==2.7.5"
six = "==1.11.0"
urllib3 = "==1.24.1"
boto3 = "==1.9.71"
PyYAML = "*"

[dev-packages]
pytest = "*"
mockito = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
