[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
botocore = "*"
chalice = "*"
ruamel-yaml = "*"
requests = "*"

[dev-packages]
pytest = "*"
mockito = "*"
pytest-cov = "*"
pylint = "*"
ptpython = "*"
requests = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"
